In [1]:
import pandas as pd
from functools import reduce

In [2]:
df_regiao_saude = pd.read_csv('./dataset/Região de Saúde (CIR).csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip').drop(columns="35121 Vale do Ribeira")
df_regiao_saude

                  Municpio  Total
0            350925 CAJATI      2
1          350990 CANANEIA      3
2          351480 ELDORADO      6
3            352030 IGUAPE     13
4     352042 ILHA COMPRIDA      5
5           352330 ITARIRI      7
6       352460 JACUPIRANGA      2
7            352610 JUQUIA     11
8          352990 MIRACATU      9
9     353620 PARIQUERA-ACU   1828
10  353720 PEDRO DE TOLEDO      3
11         354260 REGISTRO   1637
12      355180 SETE BARRAS      2
13                   Total   3528

In [3]:
df_adeq_quant = pd.read_csv('./dataset/Adeq quant pré-natal.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_anomalia = pd.read_csv('./dataset/Anomalia congênita.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_consult = pd.read_csv('./dataset/Consult pré-natal.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_duracao = pd.read_csv('./dataset/Duração gestação.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_estado_civil = pd.read_csv('./dataset/Estado civil mãe.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_idade_mae = pd.read_csv('./dataset/Idade da mãe.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_local = pd.read_csv('./dataset/Local ocorrência.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_ocorrencia_sexo = pd.read_csv('./dataset/ocorrênc por Sexo.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_peso_nascer = pd.read_csv('./dataset/Peso ao nascer.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')

df_tipo_gravidez = pd.read_csv('./dataset/Tipo de gravidez.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')
df_tipo_parto = pd.read_csv('./dataset/Tipo de parto.csv', encoding='ISO-8859-1', sep=';',on_bad_lines='skip')

# Criando uma lista com todos os DataFrames
dfs = [
df_adeq_quant,
df_anomalia,
df_consult,
df_duracao,
df_estado_civil,
df_idade_mae,
df_local,
df_ocorrencia_sexo,
df_peso_nascer,
df_tipo_gravidez,
df_tipo_parto
]

In [4]:
dfs = [df.drop(columns="Total", errors="ignore") for df in dfs]

for i, df in enumerate(dfs):

    df.replace('-', 0, inplace=True) # Convertendo todas as colunas (exceto a coluna 'Municpio') para numéricas

    cols = df.columns.drop('Municpio')

    df[cols] = df[cols].apply(pd.to_numeric)

    print(f"DataFrame {i+1}:")
    print(df.columns.tolist())
    print(df.head())  # Exibe as primeiras 5 linhas de cada DataFrame
    print(df.info())
    print(df.describe(include="all"))
    print(df.isna().sum())
    print("\n")  # Linha em branco para separar a saída de cada DataFrame

DataFrame 1:
['Municpio', 'qt adq Nao fez pre-natal', 'qt adq Inadequado', 'qt adq Intermediario', 'qt adq Adequado', 'qt adq Mais que adequado', 'qt adq Nao Classificados']
               Municpio  qt adq Nao fez pre-natal  qt adq Inadequado  \
0         350925 CAJATI                         0                  2
1       350990 CANANEIA                         0                  2
2       351480 ELDORADO                         0                  1
3         352030 IGUAPE                         3                  4
4  352042 ILHA COMPRIDA                         0                  3

   qt adq Intermediario  qt adq Adequado  qt adq Mais que adequado  \
0                     0                0                         0
1                     0                0                         1
2                     0                1                         3
3                     1                2                         3
4                     1                0                         0

   qt adq Nao Classificados
0                         0
1                         0
2                         1
3                         0
4                         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Municpio                  14 non-null     object
 1   qt adq Nao fez pre-natal  14 non-null     int64
 2   qt adq Inadequado         14 non-null     int64
 3   qt adq Intermediario      14 non-null     int64
 4   qt adq Adequado           14 non-null     int64
 5   qt adq Mais que adequado  14 non-null     int64
 6   qt adq Nao Classificados  14 non-null     int64
dtypes: int64(6), object(1)
memory usage: 916.0+ bytes
None
             Municpio  qt adq Nao fez pre-natal  qt adq Inadequado  \
count              14                 14.000000          14.000000
unique             14                       NaN                NaN
top     350925 CAJATI                       NaN                NaN
freq                1                       NaN                NaN
mean              NaN                  1.857143          70.000000
std               NaN                  3.634390         148.259129
min               NaN                  0.000000           0.000000
25%               NaN                  0.000000           1.000000
50%               NaN                  0.000000           2.000000
75%               NaN                  2.500000           3.750000
max               NaN                 13.000000         490.000000

        qt adq Intermediario  qt adq Adequado  qt adq Mais que adequado  \
count              14.000000        14.000000                 14.000000
unique                   NaN              NaN                       NaN
top                      NaN              NaN                       NaN
freq                     NaN              NaN                       NaN
mean               26.428571        30.000000                369.571429
std                56.007849        64.022832                789.041942
min                 0.000000         0.000000                  0.000000
25%                 0.000000         0.000000                  0.000000
50%                 1.000000         0.500000                  3.000000
75%                 1.000000         2.000000                  5.250000
max               185.000000       210.000000               2587.000000

        qt adq Nao Classificados
count                  14.000000
unique                       NaN
top                          NaN
freq                         NaN
mean                    6.142857
std                    12.164622
min                     0.000000
25%                     0.250000
50%                     1.000000
75%                     2.750000
max                    43.000000
Municpio                    0
qt adq Nao fez pre-natal    0
qt adq Inadequado           0
qt adq Intermediario        0
qt adq Adequado             0
qt adq Mais que adequado    0
qt adq Nao Classificados    0
dtype: int64


DataFrame 2:
['Municpio', 'anomalia Sim', 'anomalia Nao', 'anomalia Ignorado']
               Municpio  anomalia Sim  anomalia Nao  anomalia Ignorado
0         350925 CAJATI             0             2                  0
1       350990 CANANEIA             0             3                  0
2       351480 ELDORADO             0             5                  1
3         352030 IGUAPE             0            13                  0
4  352042 ILHA COMPRIDA             0             5                  0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Municpio           14 non-null     object
 1   anomalia Sim       14 non-null     int64
 2   anomalia Nao       14 non-null     int64
 3   anomalia Ignorado  14 non-null     int64
dtypes: int64(3), object(1)
memory usage: 580.0+ bytes
None
             Municpio  anomalia Sim  anomalia Nao  anomalia Ignorado
count              14     14.000000     14.000000          14.000000
unique             14           NaN           NaN                NaN
top     350925 CAJATI           NaN           NaN                NaN
freq                1           NaN           NaN                NaN
mean              NaN      3.285714    500.000000           0.714286
std               NaN      7.032108   1062.962696           1.382783
min               NaN      0.000000      1.000000           0.000000
25%               NaN      0.000000      3.000000           0.000000
50%               NaN      0.000000      6.000000           0.000000
75%               NaN      0.000000     12.500000           1.000000
max               NaN     23.000000   3500.000000           5.000000
Municpio             0
anomalia Sim         0
anomalia Nao         0
anomalia Ignorado    0
dtype: int64


DataFrame 3:
['Municpio', 'consulta pre Nenhuma', 'consulta pre De 1 a 3 consultas', 'consulta pre De 4 a 6 consultas', 'consulta pre 7 ou mais consultas', 'consulta pre Ignorado']
               Municpio  consulta pre Nenhuma  \
0         350925 CAJATI                     0
1       350990 CANANEIA                     0
2       351480 ELDORADO                     0
3         352030 IGUAPE                     3
4  352042 ILHA COMPRIDA                     1

   consulta pre De 1 a 3 consultas  consulta pre De 4 a 6 consultas  \
0                                0                                1
1                                1                                1
2                                2                                1
3                                1                                5
4                                1                                3

   consulta pre 7 ou mais consultas  consulta pre Ignorado
0                                 1                      0
1                                 1                      0
2                                 3                      0
3                                 4                      0
4                                 0                      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Municpio                          14 non-null     object
 1   consulta pre Nenhuma              14 non-null     int64
 2   consulta pre De 1 a 3 consultas   14 non-null     int64
 3   consulta pre De 4 a 6 consultas   14 non-null     int64
 4   consulta pre 7 ou mais consultas  14 non-null     int64
 5   consulta pre Ignorado             14 non-null     int64
dtypes: int64(5), object(1)
memory usage: 804.0+ bytes
None
             Municpio  consulta pre Nenhuma  consulta pre De 1 a 3 consultas  \
count              14             14.000000                        14.000000
unique             14                   NaN                              NaN
top     350925 CAJATI                   NaN                              NaN
freq                1                   NaN                              NaN
mean              NaN              3.000000                        15.285714
std               NaN              5.656854                        31.618954
min               NaN              0.000000                         0.000000
25%               NaN              0.000000                         0.000000
50%               NaN              1.000000                         1.000000
75%               NaN              2.750000                         2.000000
max               NaN             21.000000                       107.000000

        consulta pre De 4 a 6 consultas  consulta pre 7 ou mais consultas  \
count                         14.000000                         14.000000
unique                              NaN                               NaN
top                                 NaN                               NaN
freq                                NaN                               NaN
mean                          79.571429                        404.571429
std                          168.011316                        863.491723
min                            0.000000                          0.000000
25%                            1.000000                          1.000000
50%                            1.000000                          3.500000
75%                            5.000000                          5.750000
max                          557.000000                       2832.000000

        consulta pre Ignorado
count               14.000000
unique                    NaN
top                       NaN
freq                      NaN
mean                 1.571429
std                  3.367590
min                  0.000000
25%                  0.000000
50%                  0.000000
75%                  0.000000
max                 11.000000
Municpio                            0
consulta pre Nenhuma                0
consulta pre De 1 a 3 consultas     0
consulta pre De 4 a 6 consultas     0
consulta pre 7 ou mais consultas    0
consulta pre Ignorado               0
dtype: int64


DataFrame 4:
['Municpio', 'dura gest De 22 a 27 semanas', 'dura gest  De 28 a 31 semanas', 'dura gest De 32 a 36 semanas', 'dura gest  De 37 a 41 semanas', 'dura gest  42 semanas ou mais', 'dura gest  Ignorado']
               Municpio  dura gest De 22 a 27 semanas  \
0         350925 CAJATI                             0
1       350990 CANANEIA                             0
2       351480 ELDORADO                             0
3         352030 IGUAPE                             0
4  352042 ILHA COMPRIDA                             0

   dura gest  De 28 a 31 semanas  dura gest De 32 a 36 semanas  \
0                              0                             1
1                              0                             1
2                              0                             1
3                              0                             1
4                              0                             1

   dura gest  De 37 a 41 semanas  dura gest  42 semanas ou mais  \
0                              1                              0
1                              2                              0
2                              5                              0
3                             12                              0
4                              2                              0

   dura gest  Ignorado
0                    0
1                    0
2                    0
3                    0
4                    2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Municpio                       14 non-null     object
 1   dura gest De 22 a 27 semanas   14 non-null     int64
 2   dura gest  De 28 a 31 semanas  14 non-null     int64
 3   dura gest De 32 a 36 semanas   14 non-null     int64
 4   dura gest  De 37 a 41 semanas  14 non-null     int64
 5   dura gest  42 semanas ou mais  14 non-null     int64
 6   dura gest  Ignorado            14 non-null     int64
dtypes: int64(6), object(1)
memory usage: 916.0+ bytes
None
             Municpio  dura gest De 22 a 27 semanas  \
count              14                     14.000000
unique             14                           NaN
top     350925 CAJATI                           NaN
freq                1                           NaN
mean              NaN                      2.714286
std               NaN                      6.695907
min               NaN                      0.000000
25%               NaN                      0.000000
50%               NaN                      0.000000
75%               NaN                      0.000000
max               NaN                     19.000000

        dura gest  De 28 a 31 semanas  dura gest De 32 a 36 semanas  \
count                       14.000000                     14.000000
unique                            NaN                           NaN
top                               NaN                           NaN
freq                              NaN                           NaN
mean                         3.428571                     44.571429
std                          7.929636                     94.799963
min                          0.000000                      0.000000
25%                          0.000000                      1.000000
50%                          0.000000                      1.000000
75%                          1.000000                      2.500000
max                         24.000000                    312.000000

        dura gest  De 37 a 41 semanas  dura gest  42 semanas ou mais  \
count                       14.000000                      14.000000
unique                            NaN                            NaN
top                               NaN                            NaN
freq                              NaN                            NaN
mean                       427.571429                      24.142857
std                        909.761990                      51.762560
min                          1.000000                       0.000000
25%                          1.250000                       0.000000
50%                          5.000000                       0.000000
75%                         10.750000                       1.750000
max                       2993.000000                     169.000000

        dura gest  Ignorado
count             14.000000
unique                  NaN
top                     NaN
freq                    NaN
mean               1.571429
std                3.056249
min                0.000000
25%                0.000000
50%                0.000000
75%                1.750000
max               11.000000
Municpio                         0
dura gest De 22 a 27 semanas     0
dura gest  De 28 a 31 semanas    0
dura gest De 32 a 36 semanas     0
dura gest  De 37 a 41 semanas    0
dura gest  42 semanas ou mais    0
dura gest  Ignorado              0
dtype: int64


DataFrame 5:
['Municpio', 'Solteira', 'Casada', 'Viuva', 'Separada judicialmente', 'Uniao consensual', 'Ignorado']
               Municpio  Solteira  Casada  Viuva  Separada judicialmente  \
0         350925 CAJATI         1       0      0                       0
1       350990 CANANEIA         2       0      0                       0
2       351480 ELDORADO         3       2      0                       0
3         352030 IGUAPE         3       4      0                       0
4  352042 ILHA COMPRIDA         1       2      0                       0

   Uniao consensual  Ignorado
0                 1         0
1                 1         0
2                 1         0
3                 6         0
4                 2         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Municpio                14 non-null     object
 1   Solteira                14 non-null     int64
 2   Casada                  14 non-null     int64
 3   Viuva                   14 non-null     int64
 4   Separada judicialmente  14 non-null     int64
 5   Uniao consensual        14 non-null     int64
 6   Ignorado                14 non-null     int64
dtypes: int64(6), object(1)
memory usage: 916.0+ bytes
None
             Municpio    Solteira      Casada      Viuva  \
count              14   14.000000    14.00000  14.000000
unique             14         NaN         NaN        NaN
top     350925 CAJATI         NaN         NaN        NaN
freq                1         NaN         NaN        NaN
mean              NaN   92.714286   171.00000   0.285714
std               NaN  198.335547   363.58514   0.726273
min               NaN    0.000000     0.00000   0.000000
25%               NaN    1.000000     0.00000   0.000000
50%               NaN    2.000000     2.00000   0.000000
75%               NaN    3.000000     5.50000   0.000000
max               NaN  649.000000  1197.00000   2.000000

        Separada judicialmente  Uniao consensual   Ignorado
count                14.000000         14.000000  14.000000
unique                     NaN               NaN        NaN
top                        NaN               NaN        NaN
freq                       NaN               NaN        NaN
mean                  6.000000        233.285714   0.714286
std                  13.050199        496.365936   1.540658
min                   0.000000          1.000000   0.000000
25%                   0.000000          1.000000   0.000000
50%                   0.000000          2.000000   0.000000
75%                   0.000000          5.500000   0.000000
max                  42.000000       1633.000000   5.000000
Municpio                  0
Solteira                  0
Casada                    0
Viuva                     0
Separada judicialmente    0
Uniao consensual          0
Ignorado                  0
dtype: int64


DataFrame 6:
['Municpio', '10 a 14 anos', '15 a 19 anos', '20 a 24 anos', '25 a 29 anos', '30 a 34 anos', '35 a 39 anos', '40 a 44 anos', '45 a 49 anos', '50 a 54 anos']
               Municpio  10 a 14 anos  15 a 19 anos  20 a 24 anos  \
0         350925 CAJATI             0             1             1
1       350990 CANANEIA             0             1             0
2       351480 ELDORADO             0             0             2
3         352030 IGUAPE             0             2             3
4  352042 ILHA COMPRIDA             0             0             0

   25 a 29 anos  30 a 34 anos  35 a 39 anos  40 a 44 anos  45 a 49 anos  \
0             0             0             0             0             0
1             1             0             1             0             0
2             2             1             1             0             0
3             5             0             2             0             1
4             3             0             2             0             0

   50 a 54 anos
0             0
1             0
2             0
3             0
4             0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Municpio      14 non-null     object
 1   10 a 14 anos  14 non-null     int64
 2   15 a 19 anos  14 non-null     int64
 3   20 a 24 anos  14 non-null     int64
 4   25 a 29 anos  14 non-null     int64
 5   30 a 34 anos  14 non-null     int64
 6   35 a 39 anos  14 non-null     int64
 7   40 a 44 anos  14 non-null     int64
 8   45 a 49 anos  14 non-null     int64
 9   50 a 54 anos  14 non-null     int64
dtypes: int64(9), object(1)

In [5]:
df_final = reduce(lambda left, right: pd.merge(left, right, on='Municpio', how='outer'), dfs)
df_final = pd.merge(df_final, df_regiao_saude, on='Municpio', how='outer')
# Exibir o DataFrame final
print(df_final.head())
print(df_final.info())

          Municpio  qt adq Nao fez pre-natal  qt adq Inadequado  \
0                                        NaN                NaN
1    350925 CAJATI                       0.0                2.0
2  350990 CANANEIA                       0.0                2.0
3  351480 ELDORADO                       0.0                1.0
4    352030 IGUAPE                       3.0                4.0

   qt adq Intermediario  qt adq Adequado  qt adq Mais que adequado  \
0                   NaN              NaN                       NaN
1                   0.0              0.0                       0.0
2                   0.0              0.0                       1.0
3                   0.0              1.0                       3.0
4                   1.0              2.0                       3.0

   qt adq Nao Classificados  anomalia Sim  anomalia Nao  anomalia Ignorado  \
0                       NaN           NaN           NaN                NaN
1                       0.0           0.0           2.0                0.0
2                       0.0           0.0           3.0                0.0
3                       1.0           0.0           5.0                1.0
4                       0.0           0.0          13.0                0.0

   ...  peso 1500 a 2499 g  peso 2500 a 2999 g  peso 3000 a 3999 g  \
0  ...                 NaN                 NaN                 NaN
1  ...                 0.0                 1.0                 1.0
2  ...                 0.0                 0.0                 3.0
3  ...                 1.0                 2.0                 3.0
4  ...                 2.0                 7.0                 4.0

   peso 4000g e mais  peso Ignorado  gestacao unica  gestacao Dupla  \
0                NaN            NaN             NaN             NaN
1                0.0            0.0             2.0             0.0
2                0.0            0.0             3.0             0.0
3                0.0            0.0             6.0             0.0
4                0.0            0.0            13.0             0.0

   tp de parto Vaginal  tp de parto Cesario  Total
0                  NaN                  NaN    NaN
1                  2.0                  NaN    2.0
2                  3.0                  NaN    3.0
3                  6.0                  NaN    6.0
4                 13.0                  NaN   13.0

[5 rows x 55 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Municpio                          15 non-null     object
 1   qt adq Nao fez pre-natal          14 non-null     float64
 2   qt adq Inadequado                 14 non-null     float64
 3   qt adq Intermediario              14 non-null     float64
 4   qt adq Adequado                   14 non-null     float64
 5   qt adq Mais que adequado          14 non-null     float64
 6   qt adq Nao Classificados          14 non-null     float64
 7   anomalia Sim                      14 non-null     float64
 8   anomalia Nao                      14 non-null     float64
 9   anomalia Ignorado                 14 non-null     float64
 10  consulta pre Nenhuma              14 non-null     float64
 11  consulta pre De 1 a 3 consultas   14 non-null     float64
 12  consulta pre De 4 a 6 consultas   14 non-null     float64
 13  consulta pre 7 ou mais consultas  14 non-null     float64
 14  consulta pre Ignorado             14 non-null     float64
 15  dura gest De 22 a 27 semanas      14 non-null     float64
 16  dura gest  De 28 a 31 semanas     14 non-null     float64
 17  dura gest De 32 a 36 semanas      14 non-null     float64
 18  dura gest  De 37 a 41 semanas     14 non-null     float64
 19  dura gest  42 semanas ou mais     14 non-null     float64
 20  dura gest  Ignorado               14 non-null     float64
 21  Solteira                          14 non-null     float64
 22  Casada                            14 non-null     float64
 23  Viuva                             14 non-null     float64
 24  Separada judicialmente            14 non-null     float64
 25  Uniao consensual                  14 non-null     float64
 26  Ignorado                          14 non-null     float64
 27  10 a 14 anos                      14 non-null     float64
 28  15 a 19 anos                      14 non-null     float64
 29  20 a 24 anos                      14 non-null     float64
 30  25 a 29 anos                      14 non-null     float64
 31  30 a 34 anos                      14 non-null     float64
 32  35 a 39 anos                      14 non-null     float64
 33  40 a 44 anos                      14 non-null     float64
 34  45 a 49 anos                      14 non-null     float64
 35  50 a 54 anos                      14 non-null     float64
 36  Hospital                          14 non-null     float64
 37  Outro Estabelecimento de Saude    14 non-null     float64
 38  Domicilio                         14 non-null     float64
 39  Outro                             14 non-null     float64
 40  Masc                              14 non-null     float64
 41  Fem                               14 non-null     float64
 42  peso Menos de 500g                14 non-null     float64
 43  peso 500 a 999g                   14 non-null     float64
 44  peso 1000 a 1499 g                14 non-null     float64
 45  peso 1500 a 2499 g                14 non-null     float64
 46  peso 2500 a 2999 g                14 non-null     float64
 47  peso 3000 a 3999 g                14 non-null     float64
 48  peso 4000g e mais                 14 non-null     float64
 49  peso Ignorado                     14 non-null     float64
 50  gestacao unica                    14 non-null     float64
 51  gestacao Dupla                    14 non-null     float64
 52  tp de parto Vaginal               14 non-null     float64
 53  tp de parto Cesario               4 non-null      float64
 54  Total                             14 non-null     float64
dtypes: float64(54), object(1)
memory usage: 6.6+ KB
None

In [6]:
df_final.to_csv('base_final.csv', index=False)

In [7]:
df_final.replace(r'^\s*$', pd.NA, regex=True, inplace=True)

# Preencher NaN com 0
df_final.fillna(0, inplace=True)

# Converter colunas numéricas para inteiro
for col in df_final.select_dtypes(include=['float']).columns:
    df_final[col] = pd.to_numeric(df_final[col], errors='coerce').fillna(0).astype(int)

# Exibir o DataFrame final
print(df_final.head())

          Municpio  qt adq Nao fez pre-natal  qt adq Inadequado  \
0                0                         0                  0
1    350925 CAJATI                         0                  2
2  350990 CANANEIA                         0                  2
3  351480 ELDORADO                         0                  1
4    352030 IGUAPE                         3                  4

   qt adq Intermediario  qt adq Adequado  qt adq Mais que adequado  \
0                     0                0                         0
1                     0                0                         0
2                     0                0                         1
3                     0                1                         3
4                     1                2                         3

   qt adq Nao Classificados  anomalia Sim  anomalia Nao  anomalia Ignorado  \
0                         0             0             0                  0
1                         0             0             2                  0
2                         0             0             3                  0
3                         1             0             5                  1
4                         0             0            13                  0

   ...  peso 1500 a 2499 g  peso 2500 a 2999 g  peso 3000 a 3999 g  \
0  ...                   0                   0                   0
1  ...                   0                   1                   1
2  ...                   0                   0                   3
3  ...                   1                   2                   3
4  ...                   2                   7                   4

   peso 4000g e mais  peso Ignorado  gestacao unica  gestacao Dupla  \
0                  0              0               0               0
1                  0              0               2               0
2                  0              0               3               0
3                  0              0               6               0
4                  0              0              13               0

   tp de parto Vaginal  tp de parto Cesario  Total
0                    0                    0      0
1                    2                    0      2
2                    3                    0      3
3                    6                    0      6
4                   13                    0     13

[5 rows x 55 columns]

In [8]:
df_final.to_csv('base_final.csv', index=False)

In [10]:
pd.read_csv('base_final.csv')

,Municpio,qt adq Nao fez pre-natal,qt adq Inadequado,qt adq Intermediario,qt adq Adequado,qt adq Mais que adequado,qt adq Nao Classificados,anomalia Sim,anomalia Nao,anomalia Ignorado,...,peso 1500 a 2499 g,peso 2500 a 2999 g,peso 3000 a 3999 g,peso 4000g e mais,peso Ignorado,gestacao unica,gestacao Dupla,tp de parto Vaginal,tp de parto Cesario,Total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,350925 CAJATI,0,2,0,0,0,0,0,2,0,...,0,1,1,0,0,2,0,2,0,2
2,350990 CANANEIA,0,2,0,0,1,0,0,3,0,...,0,0,3,0,0,3,0,3,0,3
3,351480 ELDORADO,0,1,0,1,3,1,0,5,1,...,1,2,3,0,0,6,0,6,0,6
4,352030 IGUAPE,3,4,1,2,3,0,0,13,0,...,2,7,4,0,0,13,0,13,0,13
5,352042 ILHA COMPRIDA,0,3,1,0,0,1,0,5,0,...,1,1,3,0,0,5,0,4,1,5
6,352330 ITARIRI,1,3,0,0,3,0,0,7,0,...,1,3,3,0,0,7,0,7,0,7
7,352460 JACUPIRANGA,0,0,0,0,0,2,0,1,1,...,0,1,1,0,0,2,0,2,0,2
8,352610 JUQUIA,0,0,1,1,6,3,0,11,0,...,3,3,3,0,0,9,2,11,0,11
9,352990 MIRACATU,0,2,1,2,3,1,0,7,2,...,2,1,5,1,0,9,0,9,0,9
10,353620 PARIQUERA-ACU,5,276,82,80,1373,12,12,1815,1,...,137,356,1156,145,0,1773,55,1337,491,1828
11,353720 PEDRO DE TOLEDO,0,1,1,0,0,1,0,3,0,...,1,0,1,0,1,3,0,3,0,3
12,354260 REGISTRO,4,195,98,124,1195,21,11,1626,0,...,45,319,1146,126,0,1619,18,953,684,1637
13,355180 SETE BARRAS,0,1,0,0,0,1,0,2,0,...,0,1,1,0,0,2,0,2,0,2
14,Total,13,490,185,210,2587,43,23,3500,5,...,193,695,2330,272,1,3453,75,2352,1176,3528

In [11]:
df_final.head()

,Municpio,qt adq Nao fez pre-natal,qt adq Inadequado,qt adq Intermediario,qt adq Adequado,qt adq Mais que adequado,qt adq Nao Classificados,anomalia Sim,anomalia Nao,anomalia Ignorado,...,peso 1500 a 2499 g,peso 2500 a 2999 g,peso 3000 a 3999 g,peso 4000g e mais,peso Ignorado,gestacao unica,gestacao Dupla,tp de parto Vaginal,tp de parto Cesario,Total
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,350925 CAJATI,0,2,0,0,0,0,0,2,0,...,0,1,1,0,0,2,0,2,0,2
2,350990 CANANEIA,0,2,0,0,1,0,0,3,0,...,0,0,3,0,0,3,0,3,0,3
3,351480 ELDORADO,0,1,0,1,3,1,0,5,1,...,1,2,3,0,0,6,0,6,0,6
4,352030 IGUAPE,3,4,1,2,3,0,0,13,0,...,2,7,4,0,0,13,0,13,0,13

In [12]:
df_final.describe(include="all")

,Municpio,qt adq Nao fez pre-natal,qt adq Inadequado,qt adq Intermediario,qt adq Adequado,qt adq Mais que adequado,qt adq Nao Classificados,anomalia Sim,anomalia Nao,anomalia Ignorado,...,peso 1500 a 2499 g,peso 2500 a 2999 g,peso 3000 a 3999 g,peso 4000g e mais,peso Ignorado,gestacao unica,gestacao Dupla,tp de parto Vaginal,tp de parto Cesario,Total
count,15.0,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
unique,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.733333,65.333333,24.666667,28.000000,344.933333,5.733333,3.066667,466.666667,0.666667,...,25.733333,92.666667,310.666667,36.266667,0.133333,460.400000,10.000000,313.600000,156.800000,470.400000
std,NaN,3.534860,144.004795,54.400193,62.178315,766.304254,11.828939,6.829209,1032.400093,1.345185,...,58.633811,204.029293,688.213803,80.692066,0.351866,1018.010932,23.111531,694.519855,350.827634,1040.243982
min,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.500000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,2.500000,0.000000,2.500000,0.000000,2.500000
50%,NaN,0.000000,2.000000,1.000000,0.000000,3.000000,1.000000,0.000000,5.000000,0.000000,...,1.000000,1.000000,3.000000,0.000000,0.000000,6.000000,0.000000,6.000000,0.000000,6.000000
75%,NaN,2.000000,3.500000,1.000000,2.000000,4.500000,2.500000,0.000000,12.000000,1.000000,...,2.500000,5.000000,4.500000,0.500000,0.000000,11.000000,1.000000,12.000000,0.500000,12.000000
max,NaN,13.000000,490.000000,185.000000,210.000000,2587.000000,43.000000,23.000000,3500.000000,5.000000,...,193.000000,695.000000,2330.000000,272.000000,1.000000,3453.000000,75.000000,2352.000000,1176.000000,3528.000000

In [13]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Municpio                          15 non-null     object
 1   qt adq Nao fez pre-natal          15 non-null     int64
 2   qt adq Inadequado                 15 non-null     int64
 3   qt adq Intermediario              15 non-null     int64
 4   qt adq Adequado                   15 non-null     int64
 5   qt adq Mais que adequado          15 non-null     int64
 6   qt adq Nao Classificados          15 non-null     int64
 7   anomalia Sim                      15 non-null     int64
 8   anomalia Nao                      15 non-null     int64
 9   anomalia Ignorado                 15 non-null     int64
 10  consulta pre Nenhuma              15 non-null     int64
 11  consulta pre De 1 a 3 consultas   15 non-null     int64
 12  consulta pre De 4 a 6 consultas   15 non-null     int64
 13  consulta pre 7 ou mais consultas  15 non-null     int64
 14  consulta pre Ignorado             15 non-null     int64
 15  dura gest De 22 a 27 semanas      15 non-null     int64
 16  dura gest  De 28 a 31 semanas     15 non-null     int64
 17  dura gest De 32 a 36 semanas      15 non-null     int64
 18  dura gest  De 37 a 41 semanas     15 non-null     int64
 19  dura gest  42 semanas ou mais     15 non-null     int64
 20  dura gest  Ignorado               15 non-null     int64
 21  Solteira                          15 non-null     int64
 22  Casada                            15 non-null     int64
 23  Viuva                             15 non-null     int64
 24  Separada judicialmente            15 non-null     int64
 25  Uniao consensual                  15 non-null     int64
 26  Ignorado                          15 non-null     int64
 27  10 a 14 anos                      15 non-null     int64
 28  15 a 19 anos                      15 non-null     int64
 29  20 a 24 anos                      15 non-null     int64
 30  25 a 29 anos                      15 non-null     int64
 31  30 a 34 anos                      15 non-null     int64
 32  35 a 39 anos                      15 non-null     int64
 33  40 a 44 anos                      15 non-null     int64
 34  45 a 49 anos                      15 non-null     int64
 35  50 a 54 anos                      15 non-null     int64
 36  Hospital                          15 non-null     int64
 37  Outro Estabelecimento de Saude    15 non-null     int64
 38  Domicilio                         15 non-null     int64
 39  Outro                             15 non-null     int64
 40  Masc                              15 non-null     int64
 41  Fem                               15 non-null     int64
 42  peso Menos de 500g                15 non-null     int64
 43  peso 500 a 999g                   15 non-null     int64
 44  peso 1000 a 1499 g                15 non-null     int64
 45  peso 1500 a 2499 g                15 non-null     int64
 46  peso 2500 a 2999 g                15 non-null     int64
 47  peso 3000 a 3999 g                15 non-null     int64
 48  peso 4000g e mais                 15 non-null     int64
 49  peso Ignorado                     15 non-null     int64
 50  gestacao unica                    15 non-null     int64
 51  gestacao Dupla                    15 non-null     int64
 52  tp de parto Vaginal               15 non-null     int64
 53  tp de parto Cesario               15 non-null     int64
 54  Total                             15 non-null     int64
dtypes: int64(54), object(1)
memory usage: 6.6+ KB